@charset "utf-8";

/* work2  */

/* header  */

@media screen and (max-width: 767px) {
    .header_title {
        margin: 0 auto;
        align-items: center;
        padding: 20px 10px;
        box-sizing: border-box;
    }

    /* .header_nav ul {
    } */

    .header_nav ul li {
        padding: 10px 10px;
        font-size: 14px;
        border-bottom: 1px solid #4c4c4c;
    }
}
