@charset "utf-8";
/*親要素につける*/

ul {
    display: flex;
    list-style: none; /*黑丸をなくす*/
    /*justify-content: space-between; /*等間隔に並べる*/
    gap: 30px;
}

.box-area {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
}

.box-area img {
    width: 30%;
}

@media screen and (max-width: 767px) {
    ul {
        flex-direction: column;
        gap: 10px;
    }

    .box-area {
        flex-direction: column;
    }

    .box-area img {
        width: 100%;
    }
}
